//
   Created by fengjj on 2016/7/13.

extends  layout
block content
  .container
    - if(list.length>0)
      table.table.table-striped
        caption users information
        tbody
          tr
            th.col-lg-1 #
            th.col-lg-4 标题
            th.col-lg-5 内容
            th.col-lg-2 操作
          - for(var i= 0;i<list.length;i++)
            tr
              td #{i}
              td
                - var url = '/users/'+list[i].userName+'/'+list[i].time+'/'+list[i].title
                a(href=url) #{list[i]['title']}
              td !{list[i]['content']}
              td.user_operate
                - if(user.userName === list[i].userName)
                  - var editUrl = '/users/edit/'+list[i].userName+'/'+list[i].time+'/'+list[i].title
                  - var delUrl = '/users/del/'+list[i].userName+'/'+list[i].time+'/'+list[i].title
                  a(href=editUrl) edit
                  a(href=delUrl) delete
    - else
      span 没有内容



